body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: purple;
    color: white;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.option-container {
    margin: 20px 0;
    padding: 20px;
    background-color: grey;
    border-radius: 10px;
}

.option-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.option-button:hover {
    background-color: darkorange;
}

.hidden {
    display: none;
}

#quiz-creator, #quiz-taker {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #333;
}

#quiz-title, #quiz-selector, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #555;
    color: white;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
